<form id="signup-form" ng-submit="processForm('form.confirm')">

<div class="form-group">
    <label for="passtype">Pass Type</label>
    <select class="form-control" ng-model="formData.PassType" focus auto-focus>
        <option value="Weekend">Weekend Pass</option>
        <option value="Friday"> Friday Pass</option>
        <option value="Saturday">Saturday Pass</option>
        <option value="Sunday">Sunday Pass</option>
        <option value="Monday">Monday Pass</option>
    </select>
</div>

<div class="form-group row top-buffer">
<div class="col-sm-2">
    <a ui-sref="form.name" class="btn btn-block btn-danger" ng-click="clearForm()">
    Start Over
    </a>
</div>

<div class="col-sm-3 col-sm-offset-4">
    <a ui-sref="form.consent" class="btn btn-block btn-info">
    <span class="glyphicon glyphicon-circle-arrow-left"></span> Previous Section 
    </a>
</div>

<div class="col-sm-3">
    <button class="btn btn-block btn-info" id="nextbutton">Next Section</button>
</div>
</div>



</form>

