/* CSS for printing badges on half sheets */
@media screen, print {
    .adult {
        background-color: #323e99;  /* Adult badge color bar */
    }

    .minor {
        background-color: #e39426;  /* Minor (6 - 18) badge color bar */
    }

    .child {
        background-color: #cc202a; /* Child (5 or under) badge color bar */
    }


    .badge {
        width: 4in;
        height: 3.127in;
        padding: 0;
        margin-top: 0.09in;
        margin-bottom: .25in;
        margin-right: auto;
        margin-left: auto;
        white-space: nowrap;
        border: 1px solid #000;
        position: relative;
        page-break-after: always;
    }

    .colorbar {
        position: absolute;
        top: -.1in; /* Overprint the edges of the badge */
        left: -.1in;
        right: 0.5in;
        bottom: .1in;
        width: 0.6in;
        height: 3.327in;
    }

    .name {
        position: absolute;
        width: 3.32in;
        height: .627in;
        margin-left: .59in;
        padding-top: 1.25in;
        padding-bottom: 1.25in;
        padding-left: .25in;
        font-family: "Copperplate Gothic Bold", serif;
        font-size: 24px;
    }

    @page {
        size: 8.5in 5.5in;  /* width height -- landscape page half sheet */
        margin: 0;
    }
}