/* CSS for printing badges on half sheets */
@media screen, print {
    .badge {
        width: 4in;
        height: 3.127in;
        padding: 0;
        margin-top: 0.09in;
        margin-bottom: .25in;
        margin-right: auto;
        margin-left: auto;
        white-space: nowrap;
        border: 1px solid #000;
        position: relative;
        page-break-after: always;
        font-family: "Copperplate Gothic Bold", serif;
    }

    .colorbar {
        position: absolute;
        top: -.1in; /* Overprint the edges of the badge */
        left: -.1in;
        right: 0.5in;
        bottom: .1in;
        width: 0.6in;
        height: 3.327in;
        color: #FFFFFF;
    }

    .colorbarText {
        transform: rotate(270deg);
        padding-top:2em;
        padding-bottom:2em;
        margin-top: 1em;
        margin-bottom: auto;
        font-weight: bold;
        font-size: 3em;
        text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    }

    .name {
        position: absolute;
        width: 3.32in;
        height: .627in;
        margin-left: .59in;
        padding-top: 1.25in;
        padding-bottom: 1.25in;
        padding-left: .25in;
        font-size: 24px;
    }

    .smallName {
        position: absolute;
        width: 3.32in;
        height: .627in;
        margin-left: .59in;
        top: 1.7in;
        padding-bottom: 1.25in;
        padding-left: .25in;
        font-size: 20px;
    }

    .badgeNumber {
        position: absolute;
        width: 3.32in;
        height: .627in;
        margin-left: .59in;
        top: 2.5in;
        padding-bottom: 1.25in;
        padding-left: 2.25in;
        font-size: 14px;
        color: black;
    }

    .dayText {
        position: absolute;
        width: 3.32in;
        height: .25in;
        margin-left: .59in;
        top: 2.75in;
        padding-left: 1.5in;
        font-size: 18px;
    }

    @page {
        size: 8.5in 5.5in;  /* width height -- landscape page half sheet */
        margin: 0;
    }
}