@charset "utf-8";
* {
	height: auto;
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
}
#header {
	height: 100px;
	width: 100%;
	background-image: url(../images/background/header.jpg);
	background-repeat: no-repeat;
	background-position: left;
	background-color: #c3d3ed;
	border-bottom-style: solid;
	border-bottom-color: #000;
}
#subheader {
	height: 25px;
	width: 100%;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #000;
	border-bottom-color: #000;
}
div.subheader_left {
	height: 25px;
	width: 75%;
	float: left;
}
#subheader_right {
	height: 25px;
	width: 25%;
	float: left;
}
#menu {
	height: 100%;
	min-height: 650px;
	width: 250px;
	float: left;
}
#content {
	height: auto;
	min-height: 650px;
	width: auto;
	margin-left: 265px;
}
#content_login {
	height: auto;
	min-height: 650px;
	width: auto;
}
#footer {
	height: 25px;
	width: 100%;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000;
	text-align: center;
}
#AdminPopup_background{
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:#000000;
	border:1px solid #cecece;
	z-index:1;
}
#AdminPopup{
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:384px;
	width:408px;
	background:#FFFFFF;
	border:2px solid #cecece;
	z-index:2;
	padding:12px;
	font-size:13px;
}
#AdminPopup h1{
	text-align:left;
	color:#6FA5FD;
	font-size:22px;
	font-weight:700;
	border-bottom:1px dotted #D3D3D3;
	padding-bottom:2px;
	margin-bottom:20px;
}
#AdminPopup ul {
	height: auto;
	width: 225px;
	margin-top: 10px;
	list-style-image: none;
	list-style-type: disc;
}
#AdminPopupClose{
	width: 10px;
	font-size:14px;
	line-height:14px;
	right:6px;
	top:4px;
	position:absolute;
	color:#6fa5fd;
	font-weight:700;
	display:block;
	cursor: pointer;
}
#menu ul {
	height: auto;
	width: 225px;
	list-style: none;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#menu li {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000;
}
#menu li a {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
#menu li a:hover {
	text-decoration: underline;
}
fieldset {
	height: auto;
	width: 95%;
	border: 2px solid #000;
	-moz-border-radius: 10px;
	padding: 5px;
	margin-bottom: 15px;
}
legend {
	width: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-style: normal;
	font-weight: bold;
	color: #000;
	margin-right: 5px;
	margin-left: 5px;
}
hr {
	color: #000;
	width: 95%;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: auto;
	margin-left: auto;
}
label {
	width: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	color: #000;
	vertical-align: middle;
	margin-left: 10px;
	margin-bottom: 10px;
}
form {
	height: auto;
}
#menu li.header_li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #197290;
}
#menu li.header_li a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #197290;
}
.adamalert_button {
	height: 20px;
	width: 100px;
	float: left;
	margin-top: 1px;
	margin-bottom: 1px;
	margin-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	background-color: #A6E3E8;
	border: 1px solid #000;
	cursor: pointer;
}
.adminalert_button {
	height: 20px;
	width: 100px;
	float: left;
	margin-top: 1px;
	margin-bottom: 1px;
	margin-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	background-color: #A6E3E8;
	border: 1px solid #000;
	cursor: pointer;
}
.disabled {
	color: #666;
	border-color: #666;
}
.display_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: bolder;
	color: #197290;
	vertical-align: middle;
	margin-left: 10px;
	margin-bottom: 10px;
}
.display_text_large {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: bolder;
	color: #197290;
	vertical-align: middle;
}


input { 
	width: auto;
}

.input_20_40 {
	height: 20px;
	width: 40px;
	border: 1px solid #000;
	-moz-border-radius: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000;
	margin-bottom: 10px;
}
.input_20_60 {
	height: 20px;
	width: 60px;
	border: 1px solid #000;
	-moz-border-radius: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000;
	margin-bottom: 10px;
}
.input_20_150 {
	height: 20px;
	width: 150px;
	border: 1px solid #000;
	-moz-border-radius: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000;
	margin-bottom: 10px;
}
.input_20_150 {
	height: 20px;
	width: 150px;
	border: 1px solid #000;
	-moz-border-radius: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000;
	margin-bottom: 10px;
}
.input_20_200 {
	height: 20px;
	width: 200px;
	border: 1px solid #000;
	-moz-border-radius: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000;
	margin-bottom: 10px;
}
.input_20_550 {
	height: 20px;
	width: 550px;
	border: 1px solid #000;
	-moz-border-radius: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000;
	margin-bottom: 10px;
}
.select_25_150 {
	height: 25px;
	width: 150px;
	border: 1px solid #000;
	-moz-border-radius: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000;
	margin-bottom: 10px;
	padding-right: 5px;
}
.select_25_50 {
	height: 25px;
	width: 60px;
	border: 1px solid #000;
	-moz-border-radius: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000;
	margin-bottom: 10px;
	padding-right: 5px;
}
.select_25_75 {
	height: 25px;
	width: 75px;
	border: 1px solid #000;
	-moz-border-radius: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000;
	margin-bottom: 10px;
	padding-right: 5px;
}
.select_25_125 {
	height: 25px;
	width: 125px;
	border: 1px solid #000;
	-moz-border-radius: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000;
	margin-bottom: 10px;
	padding-right: 5px;
}
.checkbox {
	width: auto;
	border: 1px solid #000;
	margin-left: 10px;
}
.bold_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000;
}
.bold_gray_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #666;
}
.next_button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #000;
	height: 24px;
	width: 150px;
	margin-right: 5px;
	margin-left: 5px;
	background-color: #A6E3E8;
	border: 1px solid #000;
	cursor: pointer;
}
.submit_button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #000;
	height: 24px;
	width: 150px;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 15px;
	background-color: #A6E3E8;
	border: 1px solid #000;
	cursor: pointer;
}

.badge_button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #000;
	height: 35px;
	width: 250px;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 15px;
	background-color: #A6E3E8;
	border: 1px solid #000;
	cursor: pointer;
}

.centerbutton {
	text-align: center;
}

#attendee_table {
	width: 60%;
	border-collapse: collapse;
}

#attendee_table tr th {
	white-space: nowrap;
	text-align: center;
}
#attendee_table tr td {
	border: 1px solid gray;
	padding-left: 1em;
	padding-right: 1em;
}

#list_table {
	width: 90%;
	border-collapse:collapse;
	margin: 15px;
	table-layout: fixed;
}
#list_table th td {
	border: 1px solid black;
}
#list_table th {
	width: 20%;
	font-size:1.1em;
	text-align:center;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#A6E3E8;
	color:#000;
}
#list_table td {
	width: 20%;
	padding: 3px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	text-align: center;
	font-weight: bolder;
}
#list_table td a {
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
}
#list_table td a:hover {
	text-decoration: underline;
}

.spacer_row {
	padding-top:1em !important;
}

#list_table_search {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	text-align: center;
}

#login_fieldset {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	text-align: center;
}
#indexcontent ul {
	width: auto;
	height: auto;
	margin-left: 15px;
}
#indexcontent li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	margin-left: 15px;
}
#AdminPopup ul {
	margin-left: 50px;
}
textarea {
	width: 98%;
    resize: none;
}
#admin {
	margin-right: auto;
	margin-left: auto;
}
.radio_button_left_margin {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	color: #000;
	margin-left: 10px;
}
.smalltext {
	font-size:9px;
}
