@charset "utf-8";
* {
	height: 500px;
	width: 700px;
	margin: 0px;
	padding: 0px;
}
#badge {
	height: 480px;
	width: 680px;
	background-color: #fff;
	margin: auto;
}
#badge_name {
	height: 280px;
	width: 680px;
	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 75px;
	font-weight: bolder;
	color: #000;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
#badge_QR {
	height: 200px;
	width: 200px;
	background-color: #fff;
	margin: auto;
}
.bold_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000;
}
.bold_gray_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #666;
}
img {
	height: 150px;
	width: 150px;
}
